.cards-grid {
  display: grid;
  width: 100%;
  align-items: stretch;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gap-small {
  gap: 2rem;
}

.gap-medium {
  gap: 3rem;
}

.gap-large {
  gap: 4rem;
}

.responsive {
  @media (max-width: 1200px) {
    &.grid-5 {
      grid-template-columns: repeat(4, 1fr);
    }
    
    &.grid-4 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 1024px) {
    &.grid-5,
    &.grid-4 {
      grid-template-columns: repeat(3, 1fr);
    }
    
    &.grid-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    &.grid-5,
    &.grid-4,
    &.grid-3 {
      grid-template-columns: repeat(2, 1fr);
    }
    
    &.grid-2 {
      grid-template-columns: 1fr;
    }
    
    &.gap-large {
      gap: 3rem;
    }
    
    &.gap-medium {
      gap: 2.5rem;
    }
  }
  
  @media (max-width: 480px) {
    &.grid-5,
    &.grid-4,
    &.grid-3,
    &.grid-2 {
      grid-template-columns: 1fr;
    }
    
    &.gap-large,
    &.gap-medium {
      gap: 2rem;
    }
  }
}

.cards-grid:not(.responsive) {
}
