:host {
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-family: var(--font-family);
  font-size: 16px;
  color: #FFFFFF;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

@media (max-width: 1200px) {
  .test-chatbots {
    flex-direction: column;
    align-items: center;
  }
  
  .test-chatbots app-chatbot {
    max-width: 100%;
    width: 100%;
  }
}

